.navbar{
    box-shadow: -1px 9px 16px 0px rgba(0,0,0,0.8);
    -webkit-box-shadow: -1px 9px 16px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: -1px 9px 16px 0px rgba(0,0,0,0.8);
    background: #363636f1;
    color:aliceblue;
    }
    