<!-- <mat-toolbar class="navbar"> 
    <span>Hong Kong Bus Routes</span>
</mat-toolbar>
   -->

   <label>
    <input type="checkbox"  [ngModel]="filter" (ngModelchange)="onFilterChange($event)"
    >
    <span class="menu">
      <span class="hamburger"></span>
    </span>
    <ul>
      <li>
        <a href="#" (click)="onFilterChange($event)"   >BUS ROUTE SEARCH</a>
      </li>
      <li>
        <a href="#" (click)="onFilterChange($event)"  >ADMIN CONSOLE</a>
      </li>
      <li>
        <a href="#" (click)="onFilterChange($event)"  >ABOUT ME</a>
      </li>
    </ul>
  </label>
  