
.container{
  height: 700px;
  width: 900px;
  padding: 0px;
}

.custom-dialog-container .mat-dialog-container {
  /* add your styles */
  padding: 0;
}

.head, .details{
  width: 100%;
}

.head{
  height: 20%;
  margin: auto;
}

.details{
  height: 80%;
  margin: auto;
}

.leftbox {
  width: 30%;
  height: 100%;
  float: left;
  margin: 0;
}

.rightbox {
  width: 70%;
  height: 100%;
  float: right;
  margin: auto;
}

.routeTable{
    margin: 5px;
    margin-top :0px
  }
  .table{
    width: 100%;
    border: 1px solid rgb(150, 150, 150);
  }
  
  .table tr {
    line-height: 28px;
    text-align: right;
  }
  
  
  
  th{
    color: rgb(255, 222, 115);
    text-align: center;

  }
  
  
  tr:hover{
    background-color: #b6b6b6ec;
  }

  table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    /* width: 25vw; */
    background: #b6b6b6;
  }

 table tr td {
    padding-left:5px;
    padding-right: 5px;
 }


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#sv {
  height: 100%;
  weight:100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  margin-left: -100px;
} /* 始终显式设置映射高度，以定义包含映射的 div * 元素的大小。*/
# map { height: 100% ; }/* 可选: 使示例页面填充窗口。*/
