
<div class="container">
    <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
      <div class="front">
        <ng-content select="flip-card-front"></ng-content>
        <h1 style=" font-weight:bold;font-size: 34px;font-family:Hiragino Sans GB, MicroSoft YaHei;  text-align: center; padding-top: 30px;color: rgb(255, 255, 255);
        ">BUS ROUTE SEARCH</h1>
        <div class='frontForm form-group'>  
          <form [formGroup]="complexForm" (submit)="submitForm(complexForm.value)">
            <div class="inputBox form-group" style="display: inline-flex; ">
              <i class="icon ion-ios-menu icon"></i>   
              <input  formControlName="routeId" type="text" name="routeId" #routeId id="routeId" value="" required="required" autocomplete="off" 
              />
              <label>Route ID.</label>
              <div class="bottom-line"></div>
            </div>

            <div class="inputBox form-group" style="display: inline-flex; ">
              <i class="icon ion-ios-bus"></i>
              <input formControlName="busNo"  type="text" name="busNo" #busNo id="busNo" value="" required="required" autocomplete="off"
              />
              <label>Bus No.</label>
              <div class="bottom-line"></div>
            </div>
     
            <div class="inputBox form-group" style="display: inline-flex; ">
              <i class="icon ion-md-navigate"></i>   
              <input formControlName="start" type="text" name="start" #start  id="start" value="" required="required" autocomplete="off"
              />
              <label>Start Location</label>
              <div class="bottom-line"></div>
            </div>

            <div class="inputBox form-group" style="display: inline-flex; ">
              <i class="icon ion-ios-skip-forward"></i>
              <input formControlName="stop" type="text" name="stop" #stop id="stop" value="" required="required" autocomplete="off"
              />
              <label>Stop Location</label>
              <div class="bottom-line"></div>
            </div>

            <div class="inputBox form-group" style="display: inline-flex; ">
              <i class="icon ion-ios-square"></i>   
              <input formControlName="end"  type="text" name="end" #end id="end" value="" required="required" autocomplete="off"
              />
              <label>End Location</label>
              <div class="bottom-line"></div>
            </div>
            <div class="reset-icon" >
                <!-- <i class="ion-ios-refresh" (click)="routeId.value='';busNo.value='';start.value=''; stop.value='' ; end.value=''; "></i> -->
                <button type="reset" style="background-color: transparent;border: 0;outline: none; width: 50px;"><i style="font-size: 20px; color: #fff;"  class="ion-ios-refresh"></i></button> 
              </div>

            <div class="arrow-icon" (click)="toggle();submitForm(complexForm.value)">
              <!-- <div class="arrow-icon" (click)="submitForm(complexForm.value)"> -->
                <i class="ion-ios-search"></i>
            </div>
         </form>
        </div>

        <!-- <div class="arrow-icon" (click)="toggle()">
          <i class="ion-ios-search"></i>
        </div> -->
      </div>
      <div class="back">
        <ng-content select="flip-card-back"></ng-content>
        <div class='routeTable'  style="height: calc(100% - 100px);overflow-y: auto;">
          <table class='table ' border="1" cellspacing="0">
            <thead>
            <tr>
              <th>Route</th>
              <th>Bus No.</th>
              <th>Fare</th>
              <th>Start Point</th>
              <th>End Point</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let bus of this.serverDataArr" >
            <td (click)="pop(bus.ROUTE_ID,bus.ROUTE_NAMEE,bus.FULL_FARE,bus.LOC_START_NAMEE,bus.LOC_END_NAMEE)">{{bus.ROUTE_ID}}</td>
            <td (click)="pop(bus.ROUTE_ID,bus.ROUTE_NAMEE,bus.FULL_FARE,bus.LOC_START_NAMEE,bus.LOC_END_NAMEE)">{{bus.ROUTE_NAMEE}}</td>
            <td (click)="pop(bus.ROUTE_ID,bus.ROUTE_NAMEE,bus.FULL_FARE,bus.LOC_START_NAMEE,bus.LOC_END_NAMEE)">{{bus.FULL_FARE}}</td>
            <td (click)="pop(bus.ROUTE_ID,bus.ROUTE_NAMEE,bus.FULL_FARE,bus.LOC_START_NAMEE,bus.LOC_END_NAMEE)">{{bus.LOC_START_NAMEE}}</td>
            <td (click)="pop(bus.ROUTE_ID,bus.ROUTE_NAMEE,bus.FULL_FARE,bus.LOC_START_NAMEE,bus.LOC_END_NAMEE)">{{bus.LOC_END_NAMEE}}</td>
            <td><button (click)="deleteDialog(bus.ROUTE_ID)">Delete</button></td>
            <!-- <td><button (click)="deleteButtonHandler(bus.ROUTE_ID)">Delete</button></td> -->
            <!-- <td><button (click)="deleteButtonHandler(bus.routeId)">Delete</button></td> -->
          </tr>
          
            <!-- <tr>
              <td>{{ serverDataArr.ROUTE_ID | json }}</td>
              <td>{{serverDataArr.fare | json }}</td>
              <td>{{serverDataArr.LOC_START_NAMEE | json }}</td>
              <td>{{serverDataArr.LOC_END_NAMEE | json }}</td>
            </tr> -->

            
          </tbody>
          </table>
        </div>


        <div class="arrow-icon" (click)="back()">
          <i class="ion-ios-arrow-back"></i>
        </div>
      </div>
    </div>
  </div>
