/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue"; font-weight: 500;}

* {
    margin: 0;
    padding: 0;
  }


.custom-dialog-container .mat-dialog-container {
    /* add your styles */
    padding: 0px;
}
